#btn{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color:cadetblue;
    width: 76px;
    

  }
  #btn:hover{
    color:white;
    background-color: darkcyan;
  }
  #exampleModal{
    margin-bottom: 10%;
    justify-content: start;
  }