#btn{
    margin-left: 175px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color:cadetblue;
    width: 96px;
    height: 50px;
  }


 #btn:hover{
    background-color: #39ace7;

  }
#fg{
  position: absolute;
  left: 60%;
}
#p{
  margin-top: 25px;
  margin-left: 15%;
}
  input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=email]:placeholder {
    color: #cccccc;
  }
  
  input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=password]:placeholder {
    color: #cccccc;
  }
  
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  #fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  .aa{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #btn:hover{
    color:white;
    background-color: darkcyan;
  }
#btnn:hover{
    background-color: red;
}
#btnn{
  border-radius: 4px;
}
  a:hover{
    background-color: gray;
  }
  .img-fluid{
    margin-top: 100px;
    width: 100%;
    height:80%;
  }
  #aa{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .modal {
    display: block;
  }
  .modal-dialog {
    width: 400px;
    margin: auto;
  }
  .modal-content {
    background-color: #fff;
    border-radius: 5px;
  }
  .modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
  }
  .modal-title {
    font-size: 16px;
    
  }
  .modal-body {
    padding: 15px;
  }
  .modal-footer {
    padding: 10px 15px;
    border-top: 1px solid #a3b3a5;
  }
 