/* table{
    border-radius: 10px;
    border:2px solid gray;
    padding: 3px 4px 4px 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    color: white;
}
#div{
    margin-left: 25px;
    margin-top: 15px;
}
.cart-wrap {
	padding: 30px;
	font-family: 'Open Sans', sans-serif;
}
.main-heading {
	font-size: 19px;
	margin-bottom: 20px;
}
.table-wishlist table {
    width: 90%;
}
.table-wishlist thead {
    border-bottom: 2px solid gray;
    margin-bottom: 5px;
}
.table-wishlist thead tr th {
    padding: 8px 0 18px;
    color: #484848;
    font-size: 15px;
    font-weight: 400;
}
.table-wishlist tr td {
    padding: 25px 0;
    vertical-align: middle;
}
.table-wishlist tr td .img-product {
    width: 72px;
    float: left;
    margin-left: 8px;
    margin-right: 31px;
    line-height: 63px;
}
.table-wishlist tr td .img-product img {
	width: 100%;
}
.table-wishlist tr td .name-product {
    font-size: 15px;
    color: #484848;
    padding-top: 8px;
    line-height: 24px;
    width: 50%;
}
.table-wishlist tr td.price {
    font-weight: 600;
}
.table-wishlist tr td .quanlity {
    position: relative;
}

.total {
	font-size: 24px;
	font-weight: 600;
	color: #8660e9;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.round-black-btn {
	border-radius: 25px;
    background: #212529;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
    font-size: 14px;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.d-block {
    display: block;
}
.custom-form label {
    font-size: 14px;
    line-height: 14px;
}
.pretty.p-default {
    margin-bottom: 15px;
}
.pretty input:checked~.state.p-primary-o label:before, 
.pretty.p-toggle .state.p-primary-o label:before {
    border-color: #8660e9;
}
.pretty.p-default:not(.p-fill) input:checked~.state.p-primary-o label:after {
    background-color: #8660e9 !important;
}
.main-heading.border-b {
    border-bottom: solid 1px #ededed;
    padding-bottom: 15px;
    margin-bottom: 20px !important;
}
.custom-form .pretty .state label {
    padding-left: 6px;
}
.custom-form .pretty .state label:before {
    top: 1px;
}
.custom-form .pretty .state label:after {
    top: 1px;
}
.custom-form .form-control {
    font-size: 14px;
    height: 38px;
}
.custom-form .form-control:focus {
    box-shadow: none;
}
.custom-form textarea.form-control {
    height: auto;
}
.mt-40 {
    margin-top: 40px !important; 
}
.in-stock-box {
	background: #ff0000;
	font-size: 12px;
	text-align: center;
	border-radius: 25px;
	padding: 4px 15px;
	display: inline-block;  
    color: #fff;
}
.trash-icon {
    font-size: 20px;
    color: #212529;
}

h5{
    margin-left: 25px;
}
th{
    margin-left: 15px;
}
.h5a{
    margin-left: 25px;
}

.img{
    height:150px;
    width: 30%;
}

#btn{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color:cadetblue;
    width: 76px;
    

  }
  #btn:hover{
    color:white;
    background-color: darkcyan;
  }
  .btnd{
    width: 100px;;
    height: 36px;
    background-color: #ff0000;
    color: white;
    border-radius: 25px;
  }
  *{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  .a{
    font-size: 18px;
  } */

  .container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }
  #img{
    height: 60%;
    width: 60%;
  }

h1{
    color:crimson;
    
    font-size: 34px;
    margin-top: 5px;
    margin-left: 10px
}
table{
    border-radius: 10px;
   
    padding: 3px 4px 4px 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.aa{
    font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
vertical-align: middle;
}

tr:hover td {
    background-color: rgb(191, 204, 204);
    transform: scale(1.05);
  }

  table, th, td {
    border-collapse: collapse;
    padding: 10px;
  }

  #main{
    width: 100%;
    height: 600px;
  }
  #wish{
    height: 50%;
    width: 30%;
  }