
    #btn{
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
        background-color:cadetblue;
        width: 76px;
        border-radius: 4px;
      }
      #btn:hover{
        color:white;
        background-color: darkcyan;
      }
      #newbtn{
        
        color: aliceblue;
        border-radius: 5px;
        margin-left: 50px;
      }
     .a{
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
     }
     #amm{
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
     }
     .form1{
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
     }
     #blah{
      height: 35px;
      width: 86px;
      position: relative;
      margin-left: 20px;
      border-radius: 25px;
     }
     #main{
      width: 100%;
      height: 600px;
    }
    #cart{
      height: 50%;
      width: 60%;
    }
    #bg{
      padding: 10px;
      position: relative;
      marrgin-top: 5px;
      border-radius: 5px;
      background-color: aliceblue;
      box-sizing: border-box;
    
    }
    .row{
      position: relative;
      margin-top: 10px;
      border: 0.5px thin red;
      border-radius: 5px;
    }

    #vt{
      margin-top: 24px;
      vertical-align: middle;
    }

    #vm{
      margin-top: 34px;

      vertical-align: middle;
    }

    #ab:hover  {
      background-color: rgb(191, 204, 204);
      transform: scale(1.02);
    }